<header class="header">
  <div class="image-container">
    <div class="image-circle">
      <img src="assets/images/banner.jpg" alt="Girl in colorful dress" />
    </div>
  </div>

  <div class="text-container">
    <div class="text-content">
      <h1 class="title">Trendy Styles..</h1>
      <h2 class="subtitle">Thousands Styles More!</h2>
      <p class="description">
        Having a pet means you have more joy, a new friend, a happy person
        who will always be with you to have fun. We have 200+ different pets
        that can meet your needs
      </p>
    </div>
  </div>
</header>
