
<div class="hidden lg:block">
    <h1 class="text-3xl font-semibold mb-2">Robe d'été</h1>
    <p class="font-extralight ">designed by: Coco beauty</p>
    <p class="text-2xl font-bold text-blue-800">N8,900.00</p>
    
</div>
<div class="space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="space-y-4">
            <div>
                <p class="text-gray-600">Categorie</p>
                <p class="font-medium">SKN690</p>
            </div>
            <div>
                <p class="text-gray-600">Gender</p>
                <p class="font-medium">Female</p>
            </div>
            <div>
                <p class="text-gray-600">Age</p>
                <p class="font-medium">Ranges</p>
            </div>
            <div>
                <p class="text-gray-600">Material</p>
                <p class="font-medium">Medium adult</p>
            </div>
        </div>
        <div class="space-y-4">
          
            <div>
                <p class="text-gray-600">Measurement request</p>
                <p class="font-medium flex items-center">
                    Yes
                    <a href="#" class="text-purple-600 ml-2 text-sm hover:underline">
                        Request for measurement →
                    </a>
                </p>
            </div>
            
            <div>
                <p class="text-gray-600">Published Date</p>
                <p class="font-medium">16/11/2022</p>
            </div>
        </div>
    </div>

    <!-- Information additionnelle -->
    <div>
        <p class="text-gray-600">Outfits description</p>
        <p class="text-sm text-gray-700 mt-2">
            Lorem ipsum dolor sit amet consectetur. Auctor vitim tempor egestas felis metus volutpat cursus tortor. Sit...
        </p>
    </div>
</div>
