<section class="hero relative flex justify-around w-full h-[448px] bg-blue-500 rounded-md">
    <div class="flex  flex-row justify-center align-center p-4">
        <div class=" w-[250px] h-full overflow-hidden rounded-full">
            <img src="/banners/stylist_banner.jpg" alt="banner styliste" class="h-full w-full object-cover">
        </div>
    </div>
    
    
    <div class="text-white p-4 text-center flex flex-col justify-center align-center">
        <h1 class="text-4xl font-bold ">
            {{ title }}
            <!-- title -->
        </h1>
        <p class="mt-4">This is the hero section of your application.</p>
    </div>
</section>