<div class="mb-6 mt-4">
    <h3 class="text-base font-bold mb-2">Gender</h3>
    <div class="space-y-2">
        <div class="flex items-center gap-2 mb-2">
            <input type="checkbox" id="male" class="cursor-pointer">
            <label for="male" class="cursor-pointer">Male</label>
        </div>
        <div class="flex items-center gap-2">
            <input type="checkbox" id="female" class="cursor-pointer">
            <label for="female" class="cursor-pointer">Female</label>
        </div>
    </div>
    <div class="mx-4 my-4 border-b border-gray-200"></div>
</div>

<div class="mb-6">
    <h3 class="text-base font-bold mb-2">Age group</h3>
    <div class="space-y-2">
        <div class="flex items-center gap-2 mb-2">
            <input type="checkbox" id="adult" class="cursor-pointer">
            <label for="adult" class="cursor-pointer">Adult</label>
        </div>
        <div class="flex items-center gap-2">
            <input type="checkbox" id="children" class="cursor-pointer">
            <label for="children" class="cursor-pointer">Children</label>
        </div>
    </div>
    <div class="mx-4 my-4 border-b border-gray-200"></div>
</div>

<div class="mb-6">
    <h3 class="text-base font-bold mb-2">Price</h3>
    <div class="flex gap-2 items-center">
        <input 
            type="text" 
            class="w-16 p-1 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400" 
            placeholder="Min"
        >
        <span>-</span>
        <input 
            type="text" 
            class="w-16 p-1 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400" 
            placeholder="Max"
        >
    </div>
    <div class="mx-4 my-4 border-b border-gray-200"></div>
</div>

<div class="mb-6">
    <h3 class="text-base font-bold mb-2">Size</h3>
    <div class="space-y-2">
        <div class="flex items-center gap-2 mb-2">
            <input type="checkbox" id="small" class="cursor-pointer">
            <label for="small" class="cursor-pointer">Small</label>
        </div>
        <div class="flex items-center gap-2 mb-2">
            <input type="checkbox" id="medium" class="cursor-pointer">
            <label for="medium" class="cursor-pointer">Medium</label>
        </div>
        <div class="flex items-center gap-2">
            <input type="checkbox" id="large" class="cursor-pointer">
            <label for="large" class="cursor-pointer">Large</label>
        </div>
    </div>
</div>