<section class="flex flex-row relative overflow-x-auto overflow-y-hidden">

    <div *ngFor="let material of materials; let i = index" class="material-card flex w-[300px] flex-col">
    <h2>{{ material.name }}</h2>
    <div class="flex flex-col h-full w-full">
        
        <div class="material-display w-[150px] flex flex-row justify-around">
            <button (click)="previousMaterial(i)" class="slider-button">&#10094;</button>
            <img *ngIf="material.photos.length > 0" 
                 [src]="material.photos[currentImageIndex[i]]" 
                 alt="Material Image" />
            <button (click)="nextMaterial(i)" class="slider-button">&#10095;</button>
        </div>
        <div class="color-circles">
            <div class="dots-container">
                <span
                  *ngFor="let photo of material.photos; let j = index"
                  (click)="setImage(i, j)"
                  class="dot"
                  [class.active]="currentImageIndex[i] === j"
                ></span>
              </div>
        </div>
        
    </div>
    <h2 class="pt-4">{{ material.price_per_square_meter }} FrCFA/m²</h2>
</div>
</section>