<app-navbar></app-navbar>
<main class="px-4 mx-20">
    <div class="py-2">
      <app-breadcrumb-stylist-profile></app-breadcrumb-stylist-profile>
    </div>
    <div class="py-4">
        <app-description-stylist [stylist]="stylist" [rating]="rating"></app-description-stylist> <!-- Pass stylist data -->
    </div>
    <section class="flex gap-2 pb-4">  
        <div class="px-4">
            <span class="p-6">
                <h3 class="font-bold text-lg p-4">Availability :</h3>
            </span>
            <span *ngIf="stylist.calendar">
                <app-availability [daysAvailable]="stylist.calendar"></app-availability> 
            </span>
        </div>  
        <div class="w-full">
            <span class="flex p-6 w-full  flex-row items-center justify-between">
                <span class="flex flex-row items-center">
                    <!-- Affichage du texte dynamique pour les filtres et le tri -->
                    <h1 class="text-md font-bold  p-4">{{ getFilterText() }}</h1>
                </span>
                <span class="flex flex-row items-center">
                    <app-select-sort (sortChanged)="applySort($event)"></app-select-sort>
                </span>
            </span>
            <div class="flex flex-row flex-wrap gap-4 max-h-[900px] overflow-y-auto">
                <app-product-card *ngFor="let product of filteredProducts" [product]="product" [reviews]="getProductReviews(product.id)" [rating]="getProductRating(product.id)"></app-product-card>
            </div>
        </div>
    </section>
    <span class="w-full flex justify-center">
        <h3 class="font-bold text-2xl p-8">What people all over the world are saying about the Stylist</h3>
    </span>
    <section class="w-full flex p-4 justify-center">
        <div class="overflow-hidden w-[80%] border p-4 bg-white shadow-md rounded-lg">
            <app-reviews [reviews]="stylistReviews"></app-reviews> <!-- Include the ReviewsComponent -->
        </div>
  </section>
  <div class="w-full py-28">
    <app-signup></app-signup>
</div>
</main>
