<nav class=" h-[100px] w-fit p-2 bg-gray-100 flex rounded-md  flex-row items-center justify-center text-xl gap-4">
    <!-- <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last"> -->
     
            <a [routerLink]= "['']" class="text-indigo-700 font-bold hover:underline cursor-pointer">Home</a>
            <span class="text-indigo-700"> &gt; </span>
            <p class="text-indigo-700 font-bold hover:underline cursor-pointer">Garment</p>
            <span class="text-gray-600"> &gt; </span>
            <p class="text-gray-600 font-bold">Command</p>
     
    <!-- </ng-container> -->
  </nav> 