<div class="space-y-2 p-4">
    <div class="relative h-[350px] md:h-[400px] lg:h-[400px] bg-white rounded-lg overflow-hidden">
        <img src="/assets/images/dress.jpg" alt="Robe d'été" class="w-full h-full object-contain">
    </div>
    <div class="grid grid-cols-4 gap-3">
        <div class="bg-pink-50 p-1.5 rounded-lg hover:ring-2 hover:ring-pink-200 transition-all cursor-pointer">
            <img
                src="/assets/images/dress.jpg"
                alt="Robe vue 1"
                class="w-full h-auto rounded-lg"
            >
        </div>
        <div class="bg-pink-50 p-1.5 rounded-lg ring-2 ring-pink-200">
            <img
                src="/assets/images/dress.jpg"
                alt="Robe vue 2"
                class="w-full h-auto rounded-lg"
            >
        </div>
        <div class="bg-pink-50 p-1.5 rounded-lg hover:ring-2 hover:ring-pink-200 transition-all cursor-pointer">
            <img
                src="/assets/images/dress.jpg"
                alt="Robe vue 3"
                class="w-full h-auto rounded-lg"
            >
        </div>
        <div class="bg-pink-50 p-1.5 rounded-lg hover:ring-2 hover:ring-pink-200 transition-all cursor-pointer">
            <img
                src="/assets/images/dress.jpg"
                alt="Robe vue 4"
                class="w-full h-auto rounded-lg"
            >
        </div>
    </div>
</div>
