<div class="w-[250px] p-4 border h-auto rounded-md shadow-md">
    <!-- Catégories -->
    <div class="mb-6">
      <h4 class="text-md font-semibold mb-2">Catégories</h4>
      <div class="flex flex-col gap-2">
        <label *ngFor="let category of categories" class="flex items-center gap-2">
          <input
            type="checkbox"
            [checked]="selectedCategories.includes(category)"
            (change)="toggleSelection('categories', category)"
            class="rounded border-gray-300 text-indigo-700 focus:ring focus:ring-indigo-400"
          />
          {{ category }}
        </label>
      </div>
    </div>
  
    <!-- Spécialités -->
    <div>
      <h4 class="text-md font-semibold mb-2">Spécialités</h4>
      <div class="flex flex-col gap-2">
        <label *ngFor="let specialty of specialties" class="flex items-center gap-2">
          <input
            type="checkbox"
            [checked]="selectedSpecialties.includes(specialty)"
            (change)="toggleSelection('specialties', specialty)"
            class="rounded border-gray-300 text-indigo-700 focus:ring focus:ring-indigo-400"
          />
          {{ specialty }}
        </label>
      </div>
    </div>
  </div>
  