<nav class=" h-[100px] w-[310px] bg-gray-100 flex rounded-md  flex-row items-center justify-center text-xl gap-4">
    <!-- <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last"> -->
     
            <a link="home" class="text-blue-600 font-bold hover:underline">Home</a>
            <span class="text-blue-600"> &gt; </span>
            <p class="text-blue-600 font-bold">Stylists</p>
            <span class="text-blue-600"> &gt; </span>
            <p class="text-gray-600 font-bold">Profile</p>
     
    <!-- </ng-container> -->
  </nav> 